<%- include header.ejs %>

  <h1><%= title %> Results</h1>
  <p><%= roomId %></p>
  <p><a href="/rooms/<%= roomId %>">Back To Room</a></p>

  <div id="squares">
    <ul>
    <% for (var field in squares) { %>
      <% if (squares.hasOwnProperty(field)) { %>
        <li><%= field %> - <%= squares[field] %></li>
      <% } %>
    <% } %>
    </ul>

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/js/oot_beautify.js"></script>
  <script src="/js/custom_list.js"></script>

<%- include footer.ejs %>
