<%- include header.ejs %>

  <h1><%= title %></h1>
  <p><a href="/rooms/<%= roomId %>" class="btn btn-default">Back To Room</a></p>

  <h2>Results</h2>


  <div id="squares">

    <% var claimedGoals = 0; %>

    <% for (var field in squares) { %>
      <% if (squares.hasOwnProperty(field)) { %>

        <div class="square <%= squares[field] %>square" id="<%= field %>">
          <div class="vertical-center"><%= goalsMap[field] %></div>
        </div>

        <% claimedGoals++; %>

      <% } %>
    <% } %>

    <% if (claimedGoals == 0) { %>
      <p class="text-primary">No goals claimed.</p>
    <% } %>

    <div class="clear"></div>

  </div>


  <h2>History</h2>

  <ul>
    <%
      function styleGoal(goal) {
        return '<span class="history-goal">' + goal + '</span>';
      }

      function formatHistory(goal, type) {
        if (type == 'marked') {
          return 'marked ' + styleGoal(goal);
        }
        else if (type == 'too-late') {
          return 'marked ' + styleGoal(goal) + ' but it was already claimed';
        }
        else if (type == 'unmarked') {
          return 'unmarked ' + styleGoal(goal);
        }
        else if (type == 'transferred') {
          return 'earned ' + styleGoal(goal) + ' because it was unmarked by another player';
        }
        else {
          return type + ' ' + styleGoal(goal);
        }
      }

      function historyIcon(type) {
        var icon = "minus";

        if (type == 'marked') {
          icon = "ok";
        }
        else if (type == 'too-late') {
          icon = "time";
        }
        else if (type == 'unmarked') {
          icon = "remove";
        }
        else if (type == 'transferred') {
          icon = "arrow-right";
        }

        return '<span class="glyphicon glyphicon-' + icon + '" aria-hidden="true"></span>';
      }
    %>
    <% for (var i = 0; i < history.length; ++ i) { %>
      <li class="history">
        <%- historyIcon(history[i].type) %>
        At <%= history[i].time %>, <span class="<%= history[i].player %> history-player"><%= history[i].player %></span>
        <%- formatHistory(history[i].desc, history[i].type) %>
      </li>
    <% } %>
  </ul>

  <div style="margin-bottom: 50px;"></div>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<%- include footer.ejs %>
