<%- include header.ejs %>

  <h1><%= title %></h1>
  <p><a href="/rooms/<%= roomId %>" class="btn btn-default">Back To Room</a></p>

  <h2>Results</h2>


  <div id="squares">

    <% var claimedGoals = 0; %>

    <% for (var field in squares) { %>
      <% if (squares.hasOwnProperty(field)) { %>

        <div class="square <%= squares[field] %>square" id="<%= field %>">
          <div class="vertical-center"><%= goalsMap[field] %></div>
        </div>

        <% claimedGoals++; %>

      <% } %>
    <% } %>

    <% if (claimedGoals == 0) { %>
      <p class="text-primary">No goals claimed.</p>
    <% } %>

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<%- include footer.ejs %>
