<%- include header.ejs %>

  <h1><%= title %></h1>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Room Info</h3>
    </div>
    <div class="panel-body">
      <p>
        <a href="/" class="btn btn-default">Exit Room</a>
        <a href="/rooms/<%= roomId %>/results" class="btn btn-primary">Room Results</a>
      </p>

      <p>Room Link (share this with others to invite them to the room):</p>
      <p><pre><code><a href="<%= roomUrl %>"><%= roomUrl %></a></code></pre></p>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">Color Chooser</div>
    <div class="panel-body">
      <div class="row">
        <!-- space column -->
        <div class="col-sm-3"></div>
        <div class="col-sm-1 btn color-chooser orangesquare chosen-color" squareColor="orange">orange</div>
        <div class="col-sm-1 btn color-chooser redsquare" squareColor="red">red</div>
        <div class="col-sm-1 btn color-chooser bluesquare" squareColor="blue">blue</div>
        <div class="col-sm-1 btn color-chooser greensquare" squareColor="green">green</div>
        <div class="col-sm-1 btn color-chooser purplesquare" squareColor="purple">purple</div>
        <div class="col-sm-1 btn color-chooser pinksquare" squareColor="pink">pink</div>
        <!-- space column -->
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>


  <div id="squares">
    <%
      for (var i = 0; i < goals.length; ++ i) {
        var group = goals[i];
        var groupName = group[0];
        var goalList = group[1];

        %>
        <h2><%= groupName %></h2>
        <%
        for (var j = 0; j < goalList.length; ++ j) {
          var goal = goalList[j];
          %>
          <div class="square blanksquare" id="<%= goal.id %>"><div class="vertical-center"><%= goal.name %></div></div>
          <%
        }
        %>
        <div class="clear"></div>
        <%
      }
    %>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script>
    var myColor = "orange";

    function teamColor() {
      return myColor + "square";
    }

    var allColors = "greensquare redsquare orangesquare bluesquare purplesquare pinksquare";

    $(".square").click(function() {
      var add_class = teamColor();

      if ($(this).hasClass("blanksquare")) {

        $(this).removeClass("blanksquare");
        $(this).addClass(add_class);

        $.ajax({
          type: "POST",
          url: "/rooms/<%= roomId %>/square",
          data: { "event": "click", "id": this.id, "team": myColor },
          success: function(data) {
            console.log( "success " + data );
          },
          error: function() {
            console.log( "error" );

        }});
      }
      else {
        $(this).removeClass(allColors);
        $(this).addClass("blanksquare");

        $.ajax({
          type: "POST",
          url: "/rooms/<%= roomId %>/square",
          data: { "event": "unclick", "id": this.id, "team": myColor },
          success: function(data) {
            console.log( "success " + data );
          },
          error: function() {
            console.log( "error" );

        }});
      }
    });

    function updateSquares() {
      $.ajax({
        type: "GET",
        url: "/rooms/<%= roomId %>/list",
        data: { "team": myColor },
        success: function(data) {
          $(".square").each(function() {

            // unmark for all teams
            $(this).removeClass(allColors);
            $(this).addClass("blanksquare");

            // own this square if it's ours
            if ($.inArray(this.id, data.squares) != -1) {
              $(this).removeClass("blanksquare");
              $(this).addClass(teamColor());
            }

            // console.log("square: %s", this.id);
            // console.log("%s", data.squares[0])
          });
        },
        error: function() {
          console.log( "error" );

      }});

    }

    var colorChoosers = $.find(".color-chooser");
    $(colorChoosers).on("click", function(ev) {
      // don't do anything if the color is already the chosen color
      if($(this).hasClass("chosen-color")) {
          return;
      }
      myColor = $(this).attr("squareColor");

      $(colorChoosers).removeClass("chosen-color");
      $(this).addClass("chosen-color");

      updateSquares();
    });

    updateSquares();

  </script>


<%- include footer.ejs %>
