<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>OoT Tool</title>
  <meta name="description" content="oot betaquest blind bingo lockout">
  <meta name="author" content="Ian Dunn">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
<div class="container">
  <h1><%= title %></h1>
  <p>Welcome to <%= roomId %></p>
  <p><a href="../../">Exit Room</a></p>

  <p>Room Link</p>
  <p><a href="<%= roomUrl %>"><pre><code><%= roomUrl %></code></pre></a></p>


  <div class="row">
    <!-- space column -->
    <div class="col-md-3"></div>
    <div class="col-md-1 btn color-chooser orangesquare chosen-color" squareColor="orange">orange</div>
    <div class="col-md-1 btn color-chooser redsquare" squareColor="red">red</div>
    <div class="col-md-1 btn color-chooser bluesquare" squareColor="blue">blue</div>
    <div class="col-md-1 btn color-chooser greensquare" squareColor="green">green</div>
    <div class="col-md-1 btn color-chooser purplesquare" squareColor="purple">purple</div>
    <div class="col-md-1 btn color-chooser pinksquare" squareColor="pink">pink</div>
    <!-- space column -->
    <div class="col-md-3"></div>
  </div>

  <div id="squares">
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/js/oot_beautify.js"></script>
  <script src="/js/custom_list.js"></script>

  <script>
    // console.log("It's a script! %d", customList[1].length);

    var groups = [];

    for (var property in customList) {
      if (customList.hasOwnProperty(property)) {
        groups.push(property);
      }
    }

    console.log("Goal groups: %O", groups);

    for (var i = 0; i < groups.length; ++ i) {

      var group = groups[i];
      $("#squares").append('<h2>' + group + '</h2>');

      for (var j = 0; j < customList[group].length; ++ j) {

        var goal = customList[group][j];
        $("#squares").append('<div class="square blanksquare" id="' + goal.id + '"><div class="vertical-center">' + goal.name + '</div></div>');
      }

      $("#squares").append('<div class="clear">');
    }

    // console.log("%O", cleanGoals);
    // console.log("%s", cleanGoals.toSource());

    var myColor = "orange";

    function teamColor() {
      return myColor + "square";
    }

    var allColors = "greensquare redsquare orangesquare bluesquare purplesquare pinksquare";

    $(".square").click(function() {
      var add_class = teamColor();

      if ($(this).hasClass("blanksquare")) {

        $(this).removeClass("blanksquare");
        $(this).addClass(add_class);

        $.ajax({
          type: "POST",
          url: "/rooms/<%= roomId %>/square",
          data: { "event": "click", "id": this.id, "team": myColor },
          success: function(data) {
            console.log( "success " + data );
          },
          error: function() {
            console.log( "error" );

        }});
      }
      else {
        $(this).removeClass(allColors);
        $(this).addClass("blanksquare");
      }
    });

    function updateSquares() {
      $.ajax({
        type: "GET",
        url: "/rooms/<%= roomId %>/list",
        data: { "team": myColor },
        success: function(data) {
          $(".square").each(function() {

            // unmark for all teams
            $(this).removeClass(allColors);
            $(this).addClass("blanksquare");

            // own this square if it's ours
            if ($.inArray(this.id, data.squares) != -1) {
              $(this).removeClass("blanksquare");
              $(this).addClass(teamColor());
            }

            // console.log("square: %s", this.id);
            // console.log("%s", data.squares[0])
          });
        },
        error: function() {
          console.log( "error" );

      }});

    }

    var colorChoosers = $.find(".color-chooser");
    $(colorChoosers).on("click", function(ev) {
      // don't do anything if the color is already the chosen color
      if($(this).hasClass("chosen-color")) {
          return;
      }
      myColor = $(this).attr("squareColor");

      $(colorChoosers).removeClass("chosen-color");
      $(this).addClass("chosen-color");

      updateSquares();
    });

    updateSquares();

  </script>
  </div>
</body>
</html>
